body{
    background-color: rgb(22, 25, 37);
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

table{
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25cm;
}
.credit a {
    font-size: 27px;
    color: #F0EDEE;
    text-decoration: none;
    list-style: none;
}
.email{
    font-size: 24px;
    position: absolute;
    left: 0.7%;
    transform: translateX(-1%);    
}
.discord{
    font-size: 24px;
    position: absolute;
    left: 0.3%;
    transform: translateX(-1%);       
}
.discordlink{
    font-size: 24px;
    color: #F0EDEE;
    position: absolute;
    left: 8.2%;
    transform: translateX(-1%);  
    text-decoration: none;
    list-style: none;
}
p{
    font-size: 20px;
    position: absolute;
    left: 33%;
    transform: translateX(-49%);
}
.searchbox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background: #F0EDEE;
    height: 35px;
    width: 22%;
    border-radius: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.search-btn{
    color:rgb(22, 25, 37);
    float: right;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translateX(-2.3%);
     
}   

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 35px;
    width: 10cm;
    transition: 0.4;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(22, 25, 37);
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 27px;
    color: #F0EDEE;
    padding: 14px 24px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(23, 23, 56);
  }

.animated-text{
    color: #F0EDEE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0E1C36;
    padding: 0 10cm;
    height: 60px;
    width: 20%;
    overflow: hidden;
}

.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}

.line:first-child{
    animation: anim 10s infinite;
}

@keyframes anim{
    0%{
        margin-top: -0px;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -180px;
    }
    100%{
        margin-top: -0px;
    }
}
#clock{
    font-size: 27px;
    color: #F0EDEE;
    position: absolute;
    top: 2%;
    left: 96.4%;
    width: 10%;
    transform: translateX(-2.3%);
}
